$firstColor: #fc5170;
$secondColor: #ff993f;
$thirdColor: #80bce6;
$fourthColor: #aed234;
$fifthColor: #ffd04e;
$sixthColor: #8e30a6;

body {
  margin: 0px;
  padding: 0px;
}

#logo-header {
  height: 145px;

  .header-wrapper {
    margin: 25px 0px;

    .logo {
      display: inline-block;

      h1 {
        font-family: "Gabriela Regular";
        font-size: 60pt;
        color: #8d8d8d;
      }
    }
  }

  .social-media {
    float: right;
    margin-top: 50px;
    transform: translateY(-50%);

    .icon {

      a {
        background-color: #8d8d8d;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        position: relative;

        &:before {
          content: "\f09a";
          font-family: "FontAwesome";
          color: #fff;
          font-size: 15px;
          display: block;
          text-align: center;
          margin-top: 5px;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

header {
  nav {
    ul {
      list-style-type: none;
      padding: 0px;

      li {
        height: 70px;
        position: relative;

        a {
          position: absolute;
          text-align: center;
          left: 50%;
          transform: translate(-50%);
          font-family: "Gabriela";
          font-size: 22px;
          width: 100%;
          height: 100%;
          line-height: 65px;
          color: #161616;

          &:hover {
            text-decoration: none;

            &:before {
              content: "";
              left: 50%;
              top: 0px;
              border-left: solid 10px transparent;
              border-right: solid 10px transparent;
              border-bottom: 0px;
              width: 0;
              height: 0;
              position: absolute;
            }
          }
        }

        &:nth-child(1) {
          border-top: 3px solid $firstColor;

          &:hover {
            a {
              color: $firstColor;

              &:focus {
                color: $firstColor;

                &:before {
                  display: block;
                }
              }

              &:hover {
                &:before {
                  border-top: solid 10px $firstColor;
                }
              }
            }
          }
        }

        &:nth-child(2) {
          border-top: 3px solid $secondColor;

          &:hover {
            a {
              color: $secondColor;

              &:focus {
                color: $secondColor;

                &:before {
                  display: block;
                }
              }

              &:hover {
                &:before {
                  border-top: solid 10px $secondColor;
                }
              }
            }
          }
        }

        &:nth-child(3) {
          border-top: 3px solid $thirdColor;

          &:hover {
            a {
              color: $thirdColor;

              &:focus {
                color: $thirdColor;

                &:before {
                  display: block;
                }
              }

              &:hover {
                &:before {
                  border-top: solid 10px $thirdColor;
                }
              }
            }
          }
        }

        &:nth-child(4) {
          border-top: 3px solid $fourthColor;

          &:hover {
            a {
              color: $fourthColor;

              &:focus {
                color: $fourthColor;

                &:before {
                  display: block;
                }
              }

              &:hover {
                &:before {
                  border-top: solid 10px $fourthColor;
                }
              }
            }
          }
        }

        &:nth-child(5) {
          border-top: 3px solid $fifthColor;

          &:hover {
            a {
              color: $fifthColor;

              &:focus {
                color: $fifthColor;

                &:before {
                  display: block;
                }
              }

              &:hover {
                &:before {
                  border-top: solid 10px $fifthColor;
                }
              }
            }
          }
        }

        &:nth-child(6) {
          border-top: 3px solid $sixthColor;

          &:hover {
            a {
              color: $sixthColor;

              &:focus {
                color: $sixthColor;
                text-decoration: none;

                &:before {
                  display: block;
                }
              }

              &:hover {
                &:before {
                  border-top: solid 10px $sixthColor;
                }
              }
            }
          }
        }
      }
    }
  }
}

header.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  border-bottom: 2px solid #e8e8e8;
}

#carousel-logopeda {
  margin-top: 60px;

  .sliderText {

    h1 {
      font-family: "Henny Penny", cursive;
      font-size: 48px;
      text-align: center;

      .firstColor {
        color: #3fb0ff;
      }

      .secondColor {
        color: #fc5170;
      }

      .thirdColor {
        color: #b4d542;
      }

      .fourthColor {
        color: #7e7e7e;
      }

      .fifthColor {
        color: #ffc24d;
      }
    }

    p {
      max-width: 310px;
      font-family: Arial;
      font-size: 14px;
      color: #8f8f8f;
      text-align: center;
      margin: 0px auto;
      margin-top: 30px;
    }
  }

  .carousel-indicators {
    width: 170px;
    left: 27%;
    margin: 0px;
    bottom: 100px;
    height: 85px;

    li {
      font-family: "Henny Penny", cursive;
      width: 54px;
      height: 54px;
      background: no-repeat, left top;
      text-indent: 0px;
      border: 0px;
      border-radius: 0px;
      margin: 0px;
      position: absolute;
      color: #fff;
      line-height: 54px;
      text-align: center;
      font-size: 18px;
    }

    li.active {
      background-color: transparent;
    }

    li.liFirst {
      background-image: url("../img/li_bg_1.png");
      left: 0px;
      top: 20px;
    }

    li.liSecond {
      background-image: url("../img/li_bg_2.png");
      left: 60px;
      top: 0px;
    }

    li.liThird {
      background-image: url("../img/li_bg_3.png");
      right: 0px;
      bottom: 0px;
    }
  }

  .item {
    img {
      max-height: 435px;
      width: auto;
    }
  }

  .carousel-control {
    background-image: none;
    color: #23527c;
    opacity: .9;
  }
}

#welcomeSection {
  margin-top: 80px;

  .welcomeHeader {
    h1 {
      font-family: "Fredericka the Great";
      font-size: 48px;
      color: #fc6681;
      margin: 0px auto;
      max-width: 520px;
      text-align: center;
      background-image: url(../img/welcomeFirstBackground.png), url(../img/welcomeSecondBackground.png);
      background-position: left center, right center;
      background-size: 142px 28px, 130px 28px;
      background-repeat: no-repeat;
    }
  }

  .welcomeText {
    p {
      font-family: "Trebuchet MS";
      font-size: 16px;
      color: #858585;
      text-align: center;
      margin-top: 50px;
    }
  }
}

#circleSection {
  margin-top: 60px;
  padding: 60px 0px;
  background: -webkit-linear-gradient(top, #f1f1f1, #ffffff);

  .circles {
    .singleColumn {
      margin-bottom: 20px;

      img {
        display: block;
        margin: 0px auto;
        background-color: transparent;
        border-radius: 50%;
      }

      h3 {
        font-family: Gabriela;
        font-size: 25px;
        color: #505050;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
      }

      p {
        text-align: center;
        color: #858585;
        font-family: "Trebuchet MS";
        font-size: 16px;
      }
    }
  }
}

#footer {
  height: 140px;
  border-top: 2px solid #e8e8e8;

  .infoWrapper {
    margin-top: 50px;

    .companyName {
      font-family: "Fredericka the Great";
      color: #fc6681;
      font-size: 20px;
    }

    .email {
      float: right;

      a {
        float: right;
        color: #505050;
        font-size: 16px;
        font-family: Gabriela;

        &:hover {
          text-decoration: none;
        }

        &:active {
          text-decoration: none;
        }

        &:focus {
          text-decoration: none;
        }

        &:before {
          content: "\f0e0";
          font-size: 18px;
          color: #505050;
          font-family: FontAwesome;
          margin-right: 10px;
        }
      }
    }
  }
}

#about {
  margin-top: 30px;
  background: -webkit-linear-gradient(top, #f1f1f1, #ffffff);

  .textHeader {
    h1 {
      font-family: Gabriela;
      font-size: 24px;
      color: #505050;
      padding-left: 15px;
      margin-top: 40px;
      margin-bottom: 50px;
    }
  }

  .text {
    margin-bottom: 40px;

    p {
      font-family: Arial;
      font-size: 17px;
      color: #989898;
      line-height: 25px;
    }

    img {
      border-radius: 50%;
      margin-right: 20px;
      margin-bottom: 20px;
      float: left;
    }
  }

  .bulletpoints {
    h3 {
      font-family: Gabriela;
      font-size: 22px;
      margin-top: 0px;
      margin-bottom: 40px;
      color: #505050;
    }

    ul {
      padding: 0px;
      list-style-type: none;

      li {
        position: relative;
        padding-left: 70px;
        margin-bottom: 30px;
        font-family: Arial;
        font-size: 15px;
        color: #989898;
        line-height: 25px;

        &:before {
          font-family: "Henny Penny", cursive;
          width: 54px;
          height: 54px;
          background: no-repeat, left top;
          text-indent: 0px;
          display: inline-block;
          position: absolute;
          text-align: center;
          color: #ffffff;
          line-height: 54px;
          font-size: 20px;
          left: 0px;
        }
      }

      li.liFirst {

        &:before {
          content: "1";
          background-image: url("../img/li_bg_1.png");
        }
      }

      li.liSecond {

        &:before {
          content: "2";
          background-image: url("../img/li_bg_2.png");
        }
      }

      li.liThird {

        &:before {
          content: "3";
          background-image: url("../img/li_bg_3.png");
        }
      }
    }

  }
}

#offer {
  margin-top: 30px;
  background: -webkit-linear-gradient(top, #f1f1f1, #ffffff);
  margin-bottom: 30px;

  .headerText {

    h1 {
      font-family: "Fredericka the Great";
      font-size: 50px;
      color: #fc6681;
      background-image: url(../img/welcomeFirstBackground.png), url(../img/welcomeSecondBackground.png);
      background-position: left center, right center;
      background-size: 142px 28px, 130px 28px;
      background-repeat: no-repeat;
      max-width: 450px;
      display: block;
      margin: 20px auto 50px;
      text-align: center;
    }
  }

  .offerContent {

    .offerText {

      h2 {
        font-family: Gabriela;
        font-size: 22px;
        margin-top: 0px;
        margin-bottom: 40px;
        color: #505050;
      }

      h3 {
        font-family: Gabriela;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 30px;
        margin-top: 30px;
        color: #505050;
      }

      p {
        font-family: Arial;
        font-size: 17px;
        color: #989898;
        line-height: 25px;
      }

      ol {
        li {
          font-family: Arial;
          font-size: 17px;
          color: #989898;
          line-height: 25px;
        }
      }
    }

    .tomatis {

      h3 {
        font-family: Gabriela;
        font-size: 22px;
        margin-top: 0px;
        margin-bottom: 40px;
        color: #505050;
      }

      .columnText {

        p {
          font-family: Arial;
          font-size: 17px;
          color: #989898;
          line-height: 25px;
        }
      }
    }
  }
}

#gallery {

  h2 {
    font-family: "Fredericka the Great";
    font-size: 50px;
    color: #fc6681;
    background-image: url(../img/welcomeFirstBackground.png), url(../img/welcomeSecondBackground.png);
    background-position: left center, right center;
    background-size: 142px 28px, 130px 28px;
    background-repeat: no-repeat;
    max-width: 480px;
    display: block;
    margin: 20px auto 50px;
    text-align: center;
  }

  #gallerySlick {
    height: 320px;

    div {
      height: 320px;
      margin-left: 5px;

      img {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        width: 320px;
        height: 240px;
        display: block;
        margin: 0px auto;
      }
    }
  }
}

#qualities {

  .container {
    max-width: 900px;
  }

  .headerText {
    h1 {
      font-family: "Fredericka the Great";
      font-size: 50px;
      color: #fc6681;
      background-image: url(../img/welcomeFirstBackground.png), url(../img/welcomeSecondBackground.png);
      background-position: left center, right center;
      background-size: 142px 28px, 130px 28px;
      background-repeat: no-repeat;
      max-width: 600px;
      display: block;
      margin: 20px auto 50px;
      text-align: center;
    }
  }

  .qualitiesContent {

    .qualitiesText {

      h2 {
        font-family: Gabriela;
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 30px;
        color: #505050;
      }

      .education {
        list-style-type: none;
        padding-left: 20px;

        li {
          position: relative;
          padding-left: 35px;
          margin-bottom: 10px;
          font-size: 17px;
          font-family: Arial;
          color: #989898;


          &:nth-child(even) {
            &:before {
              content: '\f19d';
              font-family: FontAwesome;
              font-size: 20px;
              position: absolute;
              left: 0px;
              top: 0px;
              color: $thirdColor;
            }
          }

          &:nth-child(odd) {
            &:before {
              content: '\f19d';
              font-family: FontAwesome;
              font-size: 20px;
              position: absolute;
              left: 0px;
              top: 0px;
              color: $fourthColor;
            }
          }
        }
      }

      .courses {
        list-style-type: none;
        padding-left: 20px;

        li {
          position: relative;
          padding-left: 35px;
          margin-bottom: 10px;
          font-size: 17px;
          font-family: Arial;
          color: #989898;

          &:nth-child(even) {
            &:before {
              content: '\f02d';
              font-family: FontAwesome;
              font-size: 20px;
              position: absolute;
              left: 0px;
              top: 0px;
              color: $firstColor;
            }
          }

          &:nth-child(odd) {
            &:before {
              content: '\f02d';
              font-family: FontAwesome;
              font-size: 20px;
              position: absolute;
              left: 0px;
              top: 0px;
              color: $sixthColor;
            }
          }
        }
      }
    }
  }
}

#contactHeader {

  h1 {
    font-family: "Fredericka the Great";
    font-size: 50px;
    color: #fc6681;
    background-image: url(../img/welcomeFirstBackground.png), url(../img/welcomeSecondBackground.png);
    background-position: left center, right center;
    background-size: 142px 28px, 130px 28px;
    background-repeat: no-repeat;
    max-width: 600px;
    display: block;
    margin: 40px auto 50px;
    text-align: center;
  }
}

#googleMap {
  width: 100%;
  height: 500px;
}

#contact {
  margin: 50px 0px 50px;

  .officeInfo {
    h2 {
      font-family: Gabriela;
      font-size: 22px;
      margin-top: 20px;
      margin-bottom: 30px;
      color: #505050;
    }

    p {
      font-size: 17px;
      font-family: Arial;
      color: #989898;

      a {
        color: #83cead;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .contactForm {

    .form {
      width: 80%;
      display: block;
      margin: 20px auto 0px;
      border: 2px solid #83cead;

      h2 {
        font-family: Gabriela;
        font-size: 28px;
        margin-top: 0px;
        padding: 30px 0px;
        color: #ffffff;
        text-align: center;
        background-color: #83cead;
        margin-bottom: 30px;
      }

      form {
        input {
          display: block;
          width: 90%;
          margin: 0px auto 40px;
          height: 60px;
          padding-left: 20px;

          &:-moz-placeholder {
            font-family: Palanquin;
            font-size: 17px;
            font-weight: 100;
            letter-spacing: 1px;
          }

          &::-webkit-input-placeholder {
            font-family: Palanquin;
            font-size: 17px;
            font-weight: 100;
            letter-spacing: 1px;
          }

          &:-ms-input-placeholder {
            font-family: Palanquin;
            font-size: 17px;
            font-weight: 100;
            letter-spacing: 1px;
          }
        }

        textarea {
          display: block;
          width: 90%;
          margin: 0px auto 40px;
          height: 150px;
          padding: 20px 0px 0px 20px;
          resize: none;

            &:-moz-placeholder {
              font-family: Palanquin;
              font-size: 17px;
              font-weight: 100;
              letter-spacing: 1px;
            }

            &::-webkit-input-placeholder {
              font-family: Palanquin;
              font-size: 17px;
              font-weight: 100;
              letter-spacing: 1px;
            }

            &:-ms-input-placeholder {
              font-family: Palanquin;
              font-size: 17px;
              font-weight: 100;
              letter-spacing: 1px;
            }
        }

        input[type="submit"] {
          width: 50%;
          padding-left: 0px;
          border: 2px solid #83cead;
          color: #ffffff;
          background-color: #83cead;
          font-size: 20px;
          text-transform: uppercase;
          font-family: Palanquin;
          font-weight: 300;
          transition: all .3s linear;
          letter-spacing: 1px;

          &:hover {
            background-color: #ffffff;
            color: #83cead;
            transition: all .3s linear;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #gallery {
    #gallerySlick {
      div {
        margin-left: 0px;
        margin-right: 5px;
      }
    }
  }
}