body {
  margin: 0px;
  padding: 0px; }

#logo-header {
  height: 145px; }
  #logo-header .header-wrapper {
    margin: 25px 0px; }
    #logo-header .header-wrapper .logo {
      display: inline-block; }
      #logo-header .header-wrapper .logo h1 {
        font-family: "Gabriela Regular";
        font-size: 60pt;
        color: #8d8d8d; }
  #logo-header .social-media {
    float: right;
    margin-top: 50px;
    transform: translateY(-50%); }
    #logo-header .social-media .icon a {
      background-color: #8d8d8d;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      position: relative; }
      #logo-header .social-media .icon a:before {
        content: "\f09a";
        font-family: "FontAwesome";
        color: #fff;
        font-size: 15px;
        display: block;
        text-align: center;
        margin-top: 5px; }
      #logo-header .social-media .icon a:hover {
        text-decoration: none; }

header nav ul {
  list-style-type: none;
  padding: 0px; }
  header nav ul li {
    height: 70px;
    position: relative; }
    header nav ul li a {
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translate(-50%);
      font-family: "Gabriela";
      font-size: 22px;
      width: 100%;
      height: 100%;
      line-height: 65px;
      color: #161616; }
      header nav ul li a:hover {
        text-decoration: none; }
        header nav ul li a:hover:before {
          content: "";
          left: 50%;
          top: 0px;
          border-left: solid 10px transparent;
          border-right: solid 10px transparent;
          border-bottom: 0px;
          width: 0;
          height: 0;
          position: absolute; }
    header nav ul li:nth-child(1) {
      border-top: 3px solid #fc5170; }
      header nav ul li:nth-child(1):hover a {
        color: #fc5170; }
        header nav ul li:nth-child(1):hover a:focus {
          color: #fc5170; }
          header nav ul li:nth-child(1):hover a:focus:before {
            display: block; }
        header nav ul li:nth-child(1):hover a:hover:before {
          border-top: solid 10px #fc5170; }
    header nav ul li:nth-child(2) {
      border-top: 3px solid #ff993f; }
      header nav ul li:nth-child(2):hover a {
        color: #ff993f; }
        header nav ul li:nth-child(2):hover a:focus {
          color: #ff993f; }
          header nav ul li:nth-child(2):hover a:focus:before {
            display: block; }
        header nav ul li:nth-child(2):hover a:hover:before {
          border-top: solid 10px #ff993f; }
    header nav ul li:nth-child(3) {
      border-top: 3px solid #80bce6; }
      header nav ul li:nth-child(3):hover a {
        color: #80bce6; }
        header nav ul li:nth-child(3):hover a:focus {
          color: #80bce6; }
          header nav ul li:nth-child(3):hover a:focus:before {
            display: block; }
        header nav ul li:nth-child(3):hover a:hover:before {
          border-top: solid 10px #80bce6; }
    header nav ul li:nth-child(4) {
      border-top: 3px solid #aed234; }
      header nav ul li:nth-child(4):hover a {
        color: #aed234; }
        header nav ul li:nth-child(4):hover a:focus {
          color: #aed234; }
          header nav ul li:nth-child(4):hover a:focus:before {
            display: block; }
        header nav ul li:nth-child(4):hover a:hover:before {
          border-top: solid 10px #aed234; }
    header nav ul li:nth-child(5) {
      border-top: 3px solid #ffd04e; }
      header nav ul li:nth-child(5):hover a {
        color: #ffd04e; }
        header nav ul li:nth-child(5):hover a:focus {
          color: #ffd04e; }
          header nav ul li:nth-child(5):hover a:focus:before {
            display: block; }
        header nav ul li:nth-child(5):hover a:hover:before {
          border-top: solid 10px #ffd04e; }
    header nav ul li:nth-child(6) {
      border-top: 3px solid #8e30a6; }
      header nav ul li:nth-child(6):hover a {
        color: #8e30a6; }
        header nav ul li:nth-child(6):hover a:focus {
          color: #8e30a6;
          text-decoration: none; }
          header nav ul li:nth-child(6):hover a:focus:before {
            display: block; }
        header nav ul li:nth-child(6):hover a:hover:before {
          border-top: solid 10px #8e30a6; }

header.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  border-bottom: 2px solid #e8e8e8; }

#carousel-logopeda {
  margin-top: 60px; }
  #carousel-logopeda .sliderText h1 {
    font-family: "Henny Penny", cursive;
    font-size: 48px;
    text-align: center; }
    #carousel-logopeda .sliderText h1 .firstColor {
      color: #3fb0ff; }
    #carousel-logopeda .sliderText h1 .secondColor {
      color: #fc5170; }
    #carousel-logopeda .sliderText h1 .thirdColor {
      color: #b4d542; }
    #carousel-logopeda .sliderText h1 .fourthColor {
      color: #7e7e7e; }
    #carousel-logopeda .sliderText h1 .fifthColor {
      color: #ffc24d; }
  #carousel-logopeda .sliderText p {
    max-width: 310px;
    font-family: Arial;
    font-size: 14px;
    color: #8f8f8f;
    text-align: center;
    margin: 0px auto;
    margin-top: 30px; }
  #carousel-logopeda .carousel-indicators {
    width: 170px;
    left: 27%;
    margin: 0px;
    bottom: 100px;
    height: 85px; }
    #carousel-logopeda .carousel-indicators li {
      font-family: "Henny Penny", cursive;
      width: 54px;
      height: 54px;
      background: no-repeat, left top;
      text-indent: 0px;
      border: 0px;
      border-radius: 0px;
      margin: 0px;
      position: absolute;
      color: #fff;
      line-height: 54px;
      text-align: center;
      font-size: 18px; }
    #carousel-logopeda .carousel-indicators li.active {
      background-color: transparent; }
    #carousel-logopeda .carousel-indicators li.liFirst {
      background-image: url("../img/li_bg_1.png");
      left: 0px;
      top: 20px; }
    #carousel-logopeda .carousel-indicators li.liSecond {
      background-image: url("../img/li_bg_2.png");
      left: 60px;
      top: 0px; }
    #carousel-logopeda .carousel-indicators li.liThird {
      background-image: url("../img/li_bg_3.png");
      right: 0px;
      bottom: 0px; }
  #carousel-logopeda .item img {
    max-height: 435px;
    width: auto; }
  #carousel-logopeda .carousel-control {
    background-image: none;
    color: #23527c;
    opacity: .9; }

#welcomeSection {
  margin-top: 80px; }
  #welcomeSection .welcomeHeader h1 {
    font-family: "Fredericka the Great";
    font-size: 48px;
    color: #fc6681;
    margin: 0px auto;
    max-width: 520px;
    text-align: center;
    background-image: url(../img/welcomeFirstBackground.png), url(../img/welcomeSecondBackground.png);
    background-position: left center, right center;
    background-size: 142px 28px, 130px 28px;
    background-repeat: no-repeat; }
  #welcomeSection .welcomeText p {
    font-family: "Trebuchet MS";
    font-size: 16px;
    color: #858585;
    text-align: center;
    margin-top: 50px; }

#circleSection {
  margin-top: 60px;
  padding: 60px 0px;
  background: -webkit-linear-gradient(top, #f1f1f1, #ffffff); }
  #circleSection .circles .singleColumn {
    margin-bottom: 20px; }
    #circleSection .circles .singleColumn img {
      display: block;
      margin: 0px auto;
      background-color: transparent;
      border-radius: 50%; }
    #circleSection .circles .singleColumn h3 {
      font-family: Gabriela;
      font-size: 25px;
      color: #505050;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 20px; }
    #circleSection .circles .singleColumn p {
      text-align: center;
      color: #858585;
      font-family: "Trebuchet MS";
      font-size: 16px; }

#footer {
  height: 140px;
  border-top: 2px solid #e8e8e8; }
  #footer .infoWrapper {
    margin-top: 50px; }
    #footer .infoWrapper .companyName {
      font-family: "Fredericka the Great";
      color: #fc6681;
      font-size: 20px; }
    #footer .infoWrapper .email {
      float: right; }
      #footer .infoWrapper .email a {
        float: right;
        color: #505050;
        font-size: 16px;
        font-family: Gabriela; }
        #footer .infoWrapper .email a:hover {
          text-decoration: none; }
        #footer .infoWrapper .email a:active {
          text-decoration: none; }
        #footer .infoWrapper .email a:focus {
          text-decoration: none; }
        #footer .infoWrapper .email a:before {
          content: "\f0e0";
          font-size: 18px;
          color: #505050;
          font-family: FontAwesome;
          margin-right: 10px; }

#about {
  margin-top: 30px;
  background: -webkit-linear-gradient(top, #f1f1f1, #ffffff); }
  #about .textHeader h1 {
    font-family: Gabriela;
    font-size: 24px;
    color: #505050;
    padding-left: 15px;
    margin-top: 40px;
    margin-bottom: 50px; }
  #about .text {
    margin-bottom: 40px; }
    #about .text p {
      font-family: Arial;
      font-size: 17px;
      color: #989898;
      line-height: 25px; }
    #about .text img {
      border-radius: 50%;
      margin-right: 20px;
      margin-bottom: 20px;
      float: left; }
  #about .bulletpoints h3 {
    font-family: Gabriela;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #505050; }
  #about .bulletpoints ul {
    padding: 0px;
    list-style-type: none; }
    #about .bulletpoints ul li {
      position: relative;
      padding-left: 70px;
      margin-bottom: 30px;
      font-family: Arial;
      font-size: 15px;
      color: #989898;
      line-height: 25px; }
      #about .bulletpoints ul li:before {
        font-family: "Henny Penny", cursive;
        width: 54px;
        height: 54px;
        background: no-repeat, left top;
        text-indent: 0px;
        display: inline-block;
        position: absolute;
        text-align: center;
        color: #ffffff;
        line-height: 54px;
        font-size: 20px;
        left: 0px; }
    #about .bulletpoints ul li.liFirst:before {
      content: "1";
      background-image: url("../img/li_bg_1.png"); }
    #about .bulletpoints ul li.liSecond:before {
      content: "2";
      background-image: url("../img/li_bg_2.png"); }
    #about .bulletpoints ul li.liThird:before {
      content: "3";
      background-image: url("../img/li_bg_3.png"); }

#offer {
  margin-top: 30px;
  background: -webkit-linear-gradient(top, #f1f1f1, #ffffff);
  margin-bottom: 30px; }
  #offer .headerText h1 {
    font-family: "Fredericka the Great";
    font-size: 50px;
    color: #fc6681;
    background-image: url(../img/welcomeFirstBackground.png), url(../img/welcomeSecondBackground.png);
    background-position: left center, right center;
    background-size: 142px 28px, 130px 28px;
    background-repeat: no-repeat;
    max-width: 450px;
    display: block;
    margin: 20px auto 50px;
    text-align: center; }
  #offer .offerContent .offerText h2 {
    font-family: Gabriela;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #505050; }
  #offer .offerContent .offerText h3 {
    font-family: Gabriela;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #505050; }
  #offer .offerContent .offerText p {
    font-family: Arial;
    font-size: 17px;
    color: #989898;
    line-height: 25px; }
  #offer .offerContent .offerText ol li {
    font-family: Arial;
    font-size: 17px;
    color: #989898;
    line-height: 25px; }
  #offer .offerContent .tomatis h3 {
    font-family: Gabriela;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #505050; }
  #offer .offerContent .tomatis .columnText p {
    font-family: Arial;
    font-size: 17px;
    color: #989898;
    line-height: 25px; }

#gallery h2 {
  font-family: "Fredericka the Great";
  font-size: 50px;
  color: #fc6681;
  background-image: url(../img/welcomeFirstBackground.png), url(../img/welcomeSecondBackground.png);
  background-position: left center, right center;
  background-size: 142px 28px, 130px 28px;
  background-repeat: no-repeat;
  max-width: 480px;
  display: block;
  margin: 20px auto 50px;
  text-align: center; }
#gallery #gallerySlick {
  height: 320px; }
  #gallery #gallerySlick div {
    height: 320px;
    margin-left: 5px; }
    #gallery #gallerySlick div img {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      width: 320px;
      height: 240px;
      display: block;
      margin: 0px auto; }

#qualities .container {
  max-width: 900px; }
#qualities .headerText h1 {
  font-family: "Fredericka the Great";
  font-size: 50px;
  color: #fc6681;
  background-image: url(../img/welcomeFirstBackground.png), url(../img/welcomeSecondBackground.png);
  background-position: left center, right center;
  background-size: 142px 28px, 130px 28px;
  background-repeat: no-repeat;
  max-width: 600px;
  display: block;
  margin: 20px auto 50px;
  text-align: center; }
#qualities .qualitiesContent .qualitiesText h2 {
  font-family: Gabriela;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #505050; }
#qualities .qualitiesContent .qualitiesText .education {
  list-style-type: none;
  padding-left: 20px; }
  #qualities .qualitiesContent .qualitiesText .education li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: Arial;
    color: #989898; }
    #qualities .qualitiesContent .qualitiesText .education li:nth-child(even):before {
      content: '\f19d';
      font-family: FontAwesome;
      font-size: 20px;
      position: absolute;
      left: 0px;
      top: 0px;
      color: #80bce6; }
    #qualities .qualitiesContent .qualitiesText .education li:nth-child(odd):before {
      content: '\f19d';
      font-family: FontAwesome;
      font-size: 20px;
      position: absolute;
      left: 0px;
      top: 0px;
      color: #aed234; }
#qualities .qualitiesContent .qualitiesText .courses {
  list-style-type: none;
  padding-left: 20px; }
  #qualities .qualitiesContent .qualitiesText .courses li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: Arial;
    color: #989898; }
    #qualities .qualitiesContent .qualitiesText .courses li:nth-child(even):before {
      content: '\f02d';
      font-family: FontAwesome;
      font-size: 20px;
      position: absolute;
      left: 0px;
      top: 0px;
      color: #fc5170; }
    #qualities .qualitiesContent .qualitiesText .courses li:nth-child(odd):before {
      content: '\f02d';
      font-family: FontAwesome;
      font-size: 20px;
      position: absolute;
      left: 0px;
      top: 0px;
      color: #8e30a6; }

#contactHeader h1 {
  font-family: "Fredericka the Great";
  font-size: 50px;
  color: #fc6681;
  background-image: url(../img/welcomeFirstBackground.png), url(../img/welcomeSecondBackground.png);
  background-position: left center, right center;
  background-size: 142px 28px, 130px 28px;
  background-repeat: no-repeat;
  max-width: 600px;
  display: block;
  margin: 40px auto 50px;
  text-align: center; }

#googleMap {
  width: 100%;
  height: 500px; }

#contact {
  margin: 50px 0px 50px; }
  #contact .officeInfo h2 {
    font-family: Gabriela;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #505050; }
  #contact .officeInfo p {
    font-size: 17px;
    font-family: Arial;
    color: #989898; }
    #contact .officeInfo p a {
      color: #83cead; }
      #contact .officeInfo p a:hover {
        text-decoration: none; }
  #contact .contactForm .form {
    width: 80%;
    display: block;
    margin: 20px auto 0px;
    border: 2px solid #83cead; }
    #contact .contactForm .form h2 {
      font-family: Gabriela;
      font-size: 28px;
      margin-top: 0px;
      padding: 30px 0px;
      color: #ffffff;
      text-align: center;
      background-color: #83cead;
      margin-bottom: 30px; }
    #contact .contactForm .form form input {
      display: block;
      width: 90%;
      margin: 0px auto 40px;
      height: 60px;
      padding-left: 20px; }
      #contact .contactForm .form form input:-moz-placeholder {
        font-family: Palanquin;
        font-size: 17px;
        font-weight: 100;
        letter-spacing: 1px; }
      #contact .contactForm .form form input::-webkit-input-placeholder {
        font-family: Palanquin;
        font-size: 17px;
        font-weight: 100;
        letter-spacing: 1px; }
      #contact .contactForm .form form input:-ms-input-placeholder {
        font-family: Palanquin;
        font-size: 17px;
        font-weight: 100;
        letter-spacing: 1px; }
    #contact .contactForm .form form textarea {
      display: block;
      width: 90%;
      margin: 0px auto 40px;
      height: 150px;
      padding: 20px 0px 0px 20px;
      resize: none; }
      #contact .contactForm .form form textarea:-moz-placeholder {
        font-family: Palanquin;
        font-size: 17px;
        font-weight: 100;
        letter-spacing: 1px; }
      #contact .contactForm .form form textarea::-webkit-input-placeholder {
        font-family: Palanquin;
        font-size: 17px;
        font-weight: 100;
        letter-spacing: 1px; }
      #contact .contactForm .form form textarea:-ms-input-placeholder {
        font-family: Palanquin;
        font-size: 17px;
        font-weight: 100;
        letter-spacing: 1px; }
    #contact .contactForm .form form input[type="submit"] {
      width: 50%;
      padding-left: 0px;
      border: 2px solid #83cead;
      color: #ffffff;
      background-color: #83cead;
      font-size: 20px;
      text-transform: uppercase;
      font-family: Palanquin;
      font-weight: 300;
      transition: all .3s linear;
      letter-spacing: 1px; }
      #contact .contactForm .form form input[type="submit"]:hover {
        background-color: #ffffff;
        color: #83cead;
        transition: all .3s linear; }

@media screen and (max-width: 768px) {
  #gallery #gallerySlick div {
    margin-left: 0px;
    margin-right: 5px; } }

/*# sourceMappingURL=style.css.map */
